/* line 2, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 30;
}
/* line 10, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_loading {
  position: absolute;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  background: transparent;
  z-index: 100;
}
/* line 19, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_loading div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 480px;
  background: transparent url("/images/fancybox/fancy_progress.png") no-repeat;
}
/* line 26, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_outer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  padding: 20px 20px 40px 20px;
  margin: 0;
  background: transparent;
  display: none;
}
/* line 35, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
}
/* line 40, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_content {
  margin: 0;
  z-index: 100;
  position: absolute;
}
/* line 44, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_div {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  z-index: 100;
}

/* line 51, ../../../../app/stylesheets/modules/fancybox.sass */
img#fancy_img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

/* line 62, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_close {
  position: absolute;
  top: -12px;
  right: -15px;
  height: 30px;
  width: 30px;
  background: url("/images/fancybox/fancy_closebox.png") top left no-repeat;
  cursor: pointer;
  z-index: 181;
  display: none;
}

/* line 73, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

/* line 79, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_ajax {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* line 85, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_left, a#fancy_right {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 35%;
  cursor: pointer;
  z-index: 111;
  display: none;
  background-image: url("/images/fancybox/data:image/gif;base64,AAAA");
  outline: none;
  overflow: hidden;
}
/* line 96, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_left {
  left: 0px;
}
/* line 98, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_right {
  right: 0px;
}

/* line 102, ../../../../app/stylesheets/modules/fancybox.sass */
span.fancy_ico {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  z-index: 112;
  cursor: pointer;
  display: block;
}
/* line 111, ../../../../app/stylesheets/modules/fancybox.sass */
span#fancy_left_ico {
  left: -9999px;
  background: transparent url("/images/fancybox/fancy_left.png") no-repeat;
}
/* line 114, ../../../../app/stylesheets/modules/fancybox.sass */
span#fancy_right_ico {
  right: -9999px;
  background: transparent url("/images/fancybox/fancy_right.png") no-repeat;
}

/* line 119, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_left:hover, a#fancy_right:hover {
  visibility: visible;
  background-color: transparent;
}
/* line 122, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_left:hover span {
  left: 20px;
}
/* line 124, ../../../../app/stylesheets/modules/fancybox.sass */
a#fancy_right:hover span {
  right: 20px;
}

/* line 127, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_bigIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

/* line 136, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 146, ../../../../app/stylesheets/modules/fancybox.sass */
div.fancy_bg {
  position: absolute;
  display: block;
  z-index: 70;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 153, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_n {
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_n.png") repeat-x;
}
/* line 159, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_ne {
  top: -20px;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_ne.png") no-repeat;
}
/* line 165, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_e {
  right: -20px;
  height: 100%;
  width: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_e.png") repeat-y;
}
/* line 170, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_se {
  bottom: -20px;
  right: -20px;
  width: 20px;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_se.png") no-repeat;
}
/* line 176, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_s {
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_s.png") repeat-x;
}
/* line 182, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_sw {
  bottom: -20px;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_sw.png") no-repeat;
}
/* line 188, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_w {
  left: -20px;
  height: 100%;
  width: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_w.png") repeat-y;
}
/* line 193, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_bg_nw {
  top: -20px;
  left: -20px;
  width: 20px;
  height: 20px;
  background: transparent url("/images/fancybox/fancy_shadow_nw.png") no-repeat;
}
/* line 199, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_title {
  position: absolute;
  z-index: 100;
  display: none;
}
/* line 203, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_title div {
  color: white;
  font: bold 12px Arial;
  padding-bottom: 3px;
  white-space: nowrap;
}
/* line 208, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_title table {
  margin: 0 auto;
}
/* line 210, ../../../../app/stylesheets/modules/fancybox.sass */
div#fancy_title table td {
  padding: 0;
  vertical-align: middle;
}

/* line 215, ../../../../app/stylesheets/modules/fancybox.sass */
td#fancy_title_left {
  height: 32px;
  width: 15px;
  background: transparent url("/images/fancybox/fancy_title_left.png") repeat-x;
}
/* line 219, ../../../../app/stylesheets/modules/fancybox.sass */
td#fancy_title_main {
  height: 32px;
  background: transparent url("/images/fancybox/fancy_title_main.png") repeat-x;
}
/* line 222, ../../../../app/stylesheets/modules/fancybox.sass */
td#fancy_title_right {
  height: 32px;
  width: 15px;
  background: transparent url("/images/fancybox/fancy_title_right.png") repeat-x;
}

/* line 227, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_outer, #fancy_inner, #fancy_div {
  background: none !important;
}

/* line 230, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_outer {
  width: auto !important;
  height: auto !important;
  z-index: 30000 !important;
  left: 35% !important;
  top: 20% !important;
}

/* line 237, ../../../../app/stylesheets/modules/fancybox.sass */
#fancy_overlay {
  z-index: 20000 !important;
}
