/* line 1, ../../../../app/stylesheets/modules/jscrollpane.sass */
.jScrollPaneContainer {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* line 6, ../../../../app/stylesheets/modules/jscrollpane.sass */
.jScrollPaneTrack {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  background: #aaaaaa;
}

/* line 14, ../../../../app/stylesheets/modules/jscrollpane.sass */
.jScrollPaneDrag {
  position: absolute;
  background: #666666;
  cursor: pointer;
  overflow: hidden;
}

/* line 20, ../../../../app/stylesheets/modules/jscrollpane.sass */
.jScrollPaneDragTop {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 26, ../../../../app/stylesheets/modules/jscrollpane.sass */
.jScrollPaneDragBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 33, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollArrowUp {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  text-indent: -2000px;
  overflow: hidden;
  /*background-color: #666; */
  height: 9px;
}
/* line 43, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollArrowUp:hover {
  /*background-color: #f60; */
}
/* line 45, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollArrowDown {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  text-indent: -2000px;
  overflow: hidden;
  /*background-color: #666; */
  height: 9px;
}
/* line 55, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollArrowDown:hover {
  /*background-color: #f60; */
}
/* line 57, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollActiveArrowButton {
  /*background-color: #f00; */
}
/* line 59, ../../../../app/stylesheets/modules/jscrollpane.sass */
a.jScrollActiveArrowButton:hover {
  /*background-color: #f00; */
}
